### Baseline model (returns the survived value based on its probability in training data set)

##### Import processed training data for baseline model

In [46]:
import pandas as pd
import numpy as np
import os as os
import sklearn

In [4]:
processed_dir_path=os.path.join(os.pardir,"data", "processed")
processed_data_path=os.path.join(processed_dir_path,"train.csv")
processed_test_path=os.path.join(processed_dir_path,"test.csv")

In [7]:
train_df=pd.read_csv(processed_data_path, index_col="PassengerId")
test_df=pd.read_csv(processed_test_path, index_col="PassengerId")

In [8]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 36 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Survived            891 non-null    int64
 1   Age                 891 non-null    float64
 2   Fare                891 non-null    float64
 3   Cabin               204 non-null    object
 4   Family_Size         891 non-null    int64
 5   IS_Mother           891 non-null    int64
 6   Is_Male             891 non-null    int64
 7   Deck_A              891 non-null    int64
 8   Deck_B              891 non-null    int64
 9   Deck_C              891 non-null    int64
 10  Deck_D              891 non-null    int64
 11  Deck_E              891 non-null    int64
 12  Deck_F              891 non-null    int64
 13  Deck_G              891 non-null    int64
 14  Deck_T              891 non-null    int64
 15  Deck_Z              891 non-null    int64
 16  Pclass_1            891 non-null    int64
 17  Pclass_2            891 non-null    int64
 18  Pclass_3            891 non-null    int64
 19  Title_Lady          891 non-null    int64
 20  Title_Master        891 non-null    int64
 21  Title_Miss          891 non-null    int64
 22  Title_Mr            891 non-null    int64
 23  Title_Mrs           891 non-null    int64
 24  Title_Ms            891 non-null    int64
 25  Title_Officer       891 non-null    int64
 26  Title_Sir           891 non-null    int64
 27  Fare_Bin_very_low   891 non-null    int64
 28  Fare_Bin_low        891 non-null    int64
 29  Fare_Bin_high       891 non-null    int64
 30  Fare_Bin_very_high  891 non-null    int64
 31  Embarked_C          891 non-null    int64
 32  Embarked_Q          891 non-null    int64
 33  Embarked_S          891 non-null    int64
 34  Age_State_Adult     891 non-null    int64
 35  Age_State_Child     891 non-null    int64
dtypes: float64(2), int64(33), object(1)
memory usage: 257.6+ KB

In [9]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 892 to 1309
Data columns (total 35 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 418 non-null    float64
 1   Fare                418 non-null    float64
 2   Cabin               91 non-null     object
 3   Family_Size         418 non-null    int64
 4   IS_Mother           418 non-null    int64
 5   Is_Male             418 non-null    int64
 6   Deck_A              418 non-null    int64
 7   Deck_B              418 non-null    int64
 8   Deck_C              418 non-null    int64
 9   Deck_D              418 non-null    int64
 10  Deck_E              418 non-null    int64
 11  Deck_F              418 non-null    int64
 12  Deck_G              418 non-null    int64
 13  Deck_T              418 non-null    int64
 14  Deck_Z              418 non-null    int64
 15  Pclass_1            418 non-null    int64
 16  Pclass_2            418 non-null    int64
 17  Pclass_3            418 non-null    int64
 18  Title_Lady          418 non-null    int64
 19  Title_Master        418 non-null    int64
 20  Title_Miss          418 non-null    int64
 21  Title_Mr            418 non-null    int64
 22  Title_Mrs           418 non-null    int64
 23  Title_Ms            418 non-null    int64
 24  Title_Officer       418 non-null    int64
 25  Title_Sir           418 non-null    int64
 26  Fare_Bin_very_low   418 non-null    int64
 27  Fare_Bin_low        418 non-null    int64
 28  Fare_Bin_high       418 non-null    int64
 29  Fare_Bin_very_high  418 non-null    int64
 30  Embarked_C          418 non-null    int64
 31  Embarked_Q          418 non-null    int64
 32  Embarked_S          418 non-null    int64
 33  Age_State_Adult     418 non-null    int64
 34  Age_State_Child     418 non-null    int64
dtypes: float64(2), int64(32), object(1)
memory usage: 117.6+ KB

In [18]:
train_df.drop("Cabin", axis=1, inplace=True)

In [26]:
X= train_df.loc[:,"Age":].to_numpy().astype('float')
y= train_df["Survived"].ravel()

In [28]:
y

array([0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0], dtype=int64)

In [30]:
print(X.shape, y.shape)

(891, 34) (891,)

##### Split Train and Test Matrix in 80:20 Ratio

In [33]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\avate avil\appdata\local\programs\python\python39\lib\site-packages (0.24.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\avate avil\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (1.20.1)
Requirement already satisfied: joblib>=0.11 in c:\users\avate avil\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\avate avil\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\avate avil\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (1.6.1)

In [34]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.2, random_state=0)

##### Check positive case data (Survival Rate) in train and test y matrics

In [44]:
#average Survival in train and test data
print("Survival Rate: ",np.mean(y_train))

Survival Rate:  0.38342696629213485

In [41]:
y_test.mean()

0.3854748603351955

In [47]:
sklearn.__version__

'0.24.1'

In [48]:
from sklearn.dummy import DummyClassifier

##### Create the dummy classifier

In [49]:
dummy_model= DummyClassifier(strategy="most_frequent", random_state=0)

##### Train the model

In [51]:
dummy_model.fit(X_train, y_train)

DummyClassifier(random_state=0, strategy='most_frequent')

##### Test the model

In [52]:
accuracy = dummy_model.score(X_test, y_test)

In [59]:
print ("Accuracy of the dummy classifier is {0:.2f}".format(accuracy))

Accuracy of the dummy classifier is 0.61

### Preparing Kaggle Submission

In [69]:
test_df.drop("Cabin", axis=1, inplace=True)

In [70]:
test_X=test_df.to_numpy().astype('float')

In [71]:
predictions= dummy_model.predict(test_X)

In [72]:
len(predictions)

418

In [73]:
len(test_df)

418

In [83]:
df_submission=pd.DataFrame({'PassengerId':test_df.index,'Survived':predictions})

In [75]:
df_submission

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         0
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

### Create Kaggle Submission file

In [80]:
submission_data_path=os.path.join(os.pardir, 'data', 'external')
submission_file_path= os.path.join(submission_data_path,"01_dummy.csv")

In [84]:
df_submission.to_csv(submission_file_path, index=False)

In [85]:
from  sklearn.linear_model import LogisticRegression

In [86]:
model=LogisticRegression(random_state=0)

In [87]:
model.fit(X_train, y_train)

c:\users\avate avil\appdata\local\programs\python\python39\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=0)

In [88]:
model.score(X_test, y_test)

0.8324022346368715