### Baseline model (returns the survived value based on its probability in training data set)

##### Import processed training data for baseline model

In [3]:
import pandas as pd
import numpy as np
import os as os

In [4]:
processed_dir_path=os.path.join(os.pardir,"data", "processed")
processed_data_path=os.path.join(processed_dir_path,"train.csv")
processed_test_path=os.path.join(processed_dir_path,"test.csv")

In [7]:
train_df=pd.read_csv(processed_data_path, index_col="PassengerId")
test_df=pd.read_csv(processed_test_path, index_col="PassengerId")

In [8]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 36 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Survived            891 non-null    int64
 1   Age                 891 non-null    float64
 2   Fare                891 non-null    float64
 3   Cabin               204 non-null    object
 4   Family_Size         891 non-null    int64
 5   IS_Mother           891 non-null    int64
 6   Is_Male             891 non-null    int64
 7   Deck_A              891 non-null    int64
 8   Deck_B              891 non-null    int64
 9   Deck_C              891 non-null    int64
 10  Deck_D              891 non-null    int64
 11  Deck_E              891 non-null    int64
 12  Deck_F              891 non-null    int64
 13  Deck_G              891 non-null    int64
 14  Deck_T              891 non-null    int64
 15  Deck_Z              891 non-null    int64
 16  Pclass_1            891 non-null    int64
 17  Pclass_2            891 non-null    int64
 18  Pclass_3            891 non-null    int64
 19  Title_Lady          891 non-null    int64
 20  Title_Master        891 non-null    int64
 21  Title_Miss          891 non-null    int64
 22  Title_Mr            891 non-null    int64
 23  Title_Mrs           891 non-null    int64
 24  Title_Ms            891 non-null    int64
 25  Title_Officer       891 non-null    int64
 26  Title_Sir           891 non-null    int64
 27  Fare_Bin_very_low   891 non-null    int64
 28  Fare_Bin_low        891 non-null    int64
 29  Fare_Bin_high       891 non-null    int64
 30  Fare_Bin_very_high  891 non-null    int64
 31  Embarked_C          891 non-null    int64
 32  Embarked_Q          891 non-null    int64
 33  Embarked_S          891 non-null    int64
 34  Age_State_Adult     891 non-null    int64
 35  Age_State_Child     891 non-null    int64
dtypes: float64(2), int64(33), object(1)
memory usage: 257.6+ KB

In [9]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 892 to 1309
Data columns (total 35 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 418 non-null    float64
 1   Fare                418 non-null    float64
 2   Cabin               91 non-null     object
 3   Family_Size         418 non-null    int64
 4   IS_Mother           418 non-null    int64
 5   Is_Male             418 non-null    int64
 6   Deck_A              418 non-null    int64
 7   Deck_B              418 non-null    int64
 8   Deck_C              418 non-null    int64
 9   Deck_D              418 non-null    int64
 10  Deck_E              418 non-null    int64
 11  Deck_F              418 non-null    int64
 12  Deck_G              418 non-null    int64
 13  Deck_T              418 non-null    int64
 14  Deck_Z              418 non-null    int64
 15  Pclass_1            418 non-null    int64
 16  Pclass_2            418 non-null    int64
 17  Pclass_3            418 non-null    int64
 18  Title_Lady          418 non-null    int64
 19  Title_Master        418 non-null    int64
 20  Title_Miss          418 non-null    int64
 21  Title_Mr            418 non-null    int64
 22  Title_Mrs           418 non-null    int64
 23  Title_Ms            418 non-null    int64
 24  Title_Officer       418 non-null    int64
 25  Title_Sir           418 non-null    int64
 26  Fare_Bin_very_low   418 non-null    int64
 27  Fare_Bin_low        418 non-null    int64
 28  Fare_Bin_high       418 non-null    int64
 29  Fare_Bin_very_high  418 non-null    int64
 30  Embarked_C          418 non-null    int64
 31  Embarked_Q          418 non-null    int64
 32  Embarked_S          418 non-null    int64
 33  Age_State_Adult     418 non-null    int64
 34  Age_State_Child     418 non-null    int64
dtypes: float64(2), int64(32), object(1)
memory usage: 117.6+ KB